workDir = '/archive/carpenterlab/pire/pire_ostorhinchus_chrysopomus_lcwgs/GenErode_Och_GCA_049176735.1/work'

conda {
    enabled = true
    cacheDir = '/archive/carpenterlab/pire/pire_ostorhinchus_chrysopomus_lcwgs/GenErode_Och_GCA_049176735.1/conda/envs'
    useMamba = false
}

singularity {
    enabled = true
    autoMounts = true
}

process {
    executor = 'slurm'
    queue = 'main'

    // First BWA attempt requests 32 GB. If it fails, retry once with
    // 64 GB to provide additional node-memory headroom.
    withName: 'BWA.*' {
        cpus = 4
        memory = { 32.GB * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 1
        maxErrors = '-1'
    }
}
